@model IEnumerable<MusicShopProject.Models.Songs>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Song List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Songs" asp-action="Index" class="search-form">
    <p>
    <div class="form-group">
        <label for="SearchName">Name:</label>
        <input type="text" id="SearchName" name="SearchName" />
    </div>
    <div class="form-group">
        <label for="SearchArtist">Artist:</label>
        <select id="SearchArtist" name="SearchArtist">
            <option value="">-- Select Artist --</option>
            @foreach (var artist in Model.Select(x => x.Artist).Distinct())
            {
                <option value="@artist">@artist</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="SearchGenre">Genre:</label>
        <select id="SearchGenre" name="SearchGenre">
            <option value="">-- Select Genre --</option>
            @foreach (var genre in Model.Select(x => x.Genre).Distinct())
            {
                <option value="@genre">@genre</option>
            }
        </select>
        <input type="submit" value="Filter" />
    </div>
    </p>
</form>

<form asp-controller="Songs" asp-action="ProcessSelection" method="post">
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Artist)</th>
            <th>@Html.DisplayNameFor(model => model.Genre)</th>
            <th>@Html.DisplayNameFor(model => model.Date_Added)</th>
            <th>@Html.DisplayNameFor(model => model.Song_Length)</th>
            <th>@Html.DisplayNameFor(model => model.Download_Size)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Artist)</td>
                <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                <td>@Html.DisplayFor(modelItem => item.Date_Added)</td>
                <td>@Html.DisplayFor(modelItem => item.Song_Length)</td>
                <td>@Html.DisplayFor(modelItem => item.Download_Size)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SongsID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SongsID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SongsID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
    </form>

