@model MusicShopProject.Models.Songs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Songs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Added)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Added)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Song_Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Song_Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Download_Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Download_Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SongsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
